<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>%{print(site.title)}% %{print(page.title)}%</title>
  <link rel="stylesheet" href="%{print(site.url)}%/axist.css" />
</head>

<body>
  <h1>FMOℤ %{print(page.title)}%</h1>
  <a href="%{print(site.url)}%"> Home </a> | <a href="%{print(site.url)}%/2026/index.html"> FMOz 2026 </a> |  <a href="%{print(site.url)}%/past.html"> Previous years </a>
  <hr>



  %{print(page_content())}%

</body>
</html>
