
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>%%CONTENTTITLE%%</title>
  <link rel="stylesheet" href="%%SITEURL%%/axist.css" />
</head>

<body>
  <h1>FMOℤ %%CONTENTTITLE%%</h1>
  <a href="%%SITEURL%%/"> Home </a> | <a href="%%SITEURL%%/2026/index.html"> FMOz 2026 </a> |  <a href="%%SITEURL%%/past.html"> Previous years </a>
  <hr>


  %%CONTENTBODY%%

    <ul style="list-style-type: none">
        %%BEGINLIST%%past%%
        <li>
        <div style="width:100%">
            <a href="%%URL%%">%%CONTENTTITLE%%</a>
        </div>
        </li> 
        %%ENDLIST%%
    </ul>

</body>
</html>
